@font-face {
    font-family: "LAMEBRAINS";
    src:url(LAMEBRAINS.ttf);
}
body {
    font-family: LAMEBRAINS;
    scroll-behavior: smooth;
    padding: 0;
    background-color: black;
    color: white;
    font-size: 24px;
    margin: 0;
    background-image: linear-gradient(black, #151D2C);
    background-attachment: fixed;
    height: 100%;
}

p {
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

p1 {
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.invert p {
    filter: invert(100%);
}

.nav {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5%;
    display: inline;
    list-style-type: none;
    text-align: center;
    padding: 0;
    position: fixed;
    background-color: black;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    font-family: LAMEBRAINS;
    background-color: black;
    display: inline;
}

li {
    float: none;
    display: inline-block;
    invert(100%)
}

li a {
    font-size: 12px;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 32px;
    text-decoration: none;
    invert(100%);
    font-family: 'Montserrat', sans-serif;
}

a {
    color: white;
}



h1 {
    font-family: LAMEBRAINS;
    font-size: 169px;
    text-align: center;
    margin: 0;
}

img {
    margin: 0;
    padding-top: 5%;
    width: 24px;
    height: 24px;
    color: white;
    filter: invert(100%);
    padding: 25px;
    text-decoration: none;
}

.dark-mode {
    background-image: linear-gradient(white, #E7E7E7);
    background-color: white;
    color: black;
}

.invert img {
    filter: invert(0%);
}

.invert li {
    filter: invert(100%);
}

.invert ul {
    background-color: white;
}

.invert .nav {
    background-color: white;
}

.invert footer {
    filter: invert(100%);
}

btn {

    background: transparent;
    border: none !important;
    font-size:0;
}

img:hover {
    cursor: pointer;
}

button {

    background: transparent;
    border: none !important;
    font-size:0;
}

p1 {
    font-family: Arial;
    font-size: 11px;
    text-align: center;
}

.footer {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 3%;
}

.header {
}


.middle2 {

    width: 50%;
    height: 100%;
    border-radius: 25px;
    box-shadow: 20px 20px 10px black;
    background-image: linear-gradient(to bottom right, white, #373737);

}

.invert .middle2 {
    filter: invert(100%);
}

p4 {
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: black;
    width: 100%;
}

.cbtn {
    border-radius: 4px;
    background-color: black;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.cbtn:hover {
    background-color: white;
    color: black;
}

.if {
    width: 70%;
    height: 250px;
    border-radius: 2px;
    padding: 10px;
    border: #e0dfdf 1px solid;
    box-sizing: border-box;
    margin-top: 2px;
    box-shadow: 5px 5px 3px black;

}

.sf {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    text-decoration: none;
    box-shadow: 1px 1px 1px black;
}

